# 01 â€¢ Data collection
EDA is an iterative tool that would help us to look into the database and describe it's information.

## Content
1. Food prices
2. Economic data
3. Crimes

In [1]:
# Import libraries
import pandas as pd
#import numpy as np

## 1. Food prices
**Sources:**
National Center in Big Data and Cloud Computing (NCBC). (2020). [Pakistan Food Prices](https://opendata.com.pk/dataset/pakistan-food-prices). Open Data Pakistan.

**Description**  
This data set contains food prices data for Pakistan. Food prices data is from the World Food Programme and covers foods such as maize, rice, beans, fish, and sugar. Price trends can be studied across the years as the data goes back as far as 2004 for some food categories.

In [2]:
# Load dataset
file = "https://opendata.com.pk/dataset/ec1f8db6-4f93-4d11-b062-c38ac2a5d603/resource/9b42d48c-b689-44ca-a1df-8cf919c5e1d4/download/wfp_food_prices_pakistan.csv"
df_food = pd.read_csv(file)

In [7]:
df_food.head(4)

,date,cmname,unit,category,price,currency,country,admname,adm1id,mktname,mktid,cmid,ptid,umid,catid,sn,default
0,#date,#item+name,#item+unit,#item+type,#value,#currency,#country+name,#adm1+name,#adm1+code,#name+market,NaN,#item+code,NaN,NaN,#item+type+code,#meta+id,NaN
1,2004-01-15,Wheat flour - Retail,KG,cereals and tubers,13.0,PKR,Pakistan,Balochistan,2272,Quetta,295.0,58,15.0,5.0,1,295_58_15_5,NaN
2,2004-02-15,Wheat flour - Retail,KG,cereals and tubers,13.0,PKR,Pakistan,Balochistan,2272,Quetta,295.0,58,15.0,5.0,1,295_58_15_5,NaN
3,2004-03-15,Wheat flour - Retail,KG,cereals and tubers,14.25,PKR,Pakistan,Balochistan,2272,Quetta,295.0,58,15.0,5.0,1,295_58_15_5,NaN

## 2. Economic data

**Sources:**

- The Wolrd Bank. (2022). [Macroeconomic variables and development indicators of Pakistan].(https://data.worldbank.org/country/pakistan).
- Trading Economics. (2022). [Pakistan Consumer Price Index (CPI)](https://tradingeconomics.com/pakistan/consumer-price-index-cpi).
- Pakistan Bureau of Statistics. (2022). [CPI Monthly Price Indices](https://www.pbs.gov.pk/cpi).

## 3. Crimes
**Sources:**
- Faisal Qureshi. (2021). [Pakistan Crimes dataset (2012-2017)](https://www.kaggle.com/datasets/mfaisalqureshi/pakistan-crimes-by-type). Kaggle.
- Crime Investigation and Prevention Lab (CIPL). (2022). [Pakistan Food Prices](https://opendata.com.pk/dataset/pakistan-food-prices). Open Data Pakistan.

ðŸ‘‰ *Note: the CIPL has 5 dabatases, we should look into it and find which would be the best to use for the project*

## 4. TO-DO
The next steps of this task and project, would be:

- Select the useful information for our project from the previous mentioned databases
    - In order to do this point we should look and make an initial EDA on each database  


- Merge the data in one database